<!--  
    *  ------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-left.html  --  /src/components/layout/layout-aside-left.html  -----  *
    *  ------------------------------------------------------------------------------------------  *
-->


<div class="aside-left__container">

    <div class="aside__title">
        <h3> Clases </h3>
    </div>

    <nav class="aside-left__nav" aria-label="Menú de clases">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase01" data-route="route-clase01">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Qué es jQuery</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase02" data-route="route-clase02">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Usar jQuery en la Actualidad</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase03" data-route="route-clase03">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Práctica primeros pasos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase04" data-route="route-clase04">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Cómo se organiza el curso</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase05" data-route="route-clase05">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Introducción a jQuery</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase06" data-route="route-clase06">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Primeros Pasos con jQuery</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase07" data-route="route-clase07">
                    <span class="aside__item-num">07</span>
                    <span class="aside__item-label">Manipulación Básica</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase08" data-route="route-clase08">
                    <span class="aside__item-num">08</span>
                    <span class="aside__item-label">Selectores y Traversing</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09" data-route="route-clase09">
                    <span class="aside__item-num">09</span>
                    <span class="aside__item-label">Dudas y Conceptos 1</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10" data-route="route-clase10">
                    <span class="aside__item-num">10</span>
                    <span class="aside__item-label">Manipulación avanzada</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11" data-route="route-clase11">
                    <span class="aside__item-num">11</span>
                    <span class="aside__item-label">Eventos en jQuery</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase12" data-route="route-clase12">
                    <span class="aside__item-num">12</span>
                    <span class="aside__item-label">Eventos Teclado y Ratón</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13" data-route="route-clase13">
                    <span class="aside__item-num">13</span>
                    <span class="aside__item-label">Efectos y Animaciones</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14" data-route="route-clase14">
                    <span class="aside__item-num">14</span>
                    <span class="aside__item-label">Cola de Efectos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase15" data-route="route-clase15">
                    <span class="aside__item-num">15</span>
                    <span class="aside__item-label">JSON</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase16" data-route="route-clase16">
                    <span class="aside__item-num">16</span>
                    <span class="aside__item-label">AJAX Alto Nivel</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase17" data-route="route-clase17">
                    <span class="aside__item-num">17</span>
                    <span class="aside__item-label">Dudas y Conceptos 2</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase18" data-route="route-clase18">
                    <span class="aside__item-num">18</span>
                    <span class="aside__item-label">Formularios Ajax</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19" data-route="route-clase19">
                    <span class="aside__item-num">19</span>
                    <span class="aside__item-label">Eventos Avanzados</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20" data-route="route-clase20">
                    <span class="aside__item-num">20</span>
                    <span class="aside__item-label">Ajax Low Level</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase21" data-route="route-clase21">
                    <span class="aside__item-num">21</span>
                    <span class="aside__item-label">Práctica 1 Formulario Login</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase22" data-route="route-clase22">
                    <span class="aside__item-num">22</span>
                    <span class="aside__item-label">Deferred y Promesas</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase23" data-route="route-clase23">
                    <span class="aside__item-num">23</span>
                    <span class="aside__item-label">Dudas y conceptos 3</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24" data-route="route-clase24">
                    <span class="aside__item-num">24</span>
                    <span class="aside__item-label">Template Systems</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase25" data-route="route-clase25">
                    <span class="aside__item-num">25</span>
                    <span class="aside__item-label">jQuery Plugins</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase26" data-route="route-clase26">
                    <span class="aside__item-num">26</span>
                    <span class="aside__item-label">Variables gestión de opciones en plugins</span>
                </a>
            </li>

            <li class="aside__item aside__item--disabled">
                <span class="aside__item-num">27</span>
                <span class="aside__item-label">Tecnicas para desarrollos de plugins complejos</span>
            </li>

            <li class="aside__item aside__item--disabled">
                <span class="aside__item-num">28</span>
                <span class="aside__item-label">Librerias de componentes: jQuery UI</span>
            </li>

            <li class="aside__item aside__item--disabled">
                <span class="aside__item-num">29</span>
                <span class="aside__item-label">Usando jQuery UI</span>
            </li>

            <li class="aside__item aside__item--disabled">
                <span class="aside__item-num">30</span>
                <span class="aside__item-label">Práctica 2</span>
            </li>

        </ul>
    </nav>

</div>
