<!--
    *  --------------------------------------------------------------------------------------------------------------  *
    *  -----  layout-aside-clase-26.html  --  /src/components/layout/pages/clase-26/layout-aside-clase-26.html  -----  *
    *  --------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 26 </h3>
        <p class="aside__subtitle"> Variables gestión de opciones en plugins </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 26">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase26" data-route="route-clase26">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase26Extend" data-route="route-clase26-extend">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Extend</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase26PluginsFontsizerAdvanced" data-route="route-clase26-plugins-fontsizer-advanced">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Plugin fontSizer advanced</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase26PluginHilight" data-route="route-clase26-plugin-hilight">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Plugin hilight</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase26AjaxForm" data-route="route-clase26-ajax-form">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Ajax Form</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
