/*
    *  ---------------------------------------------------------------------------------------  *
    *  -----  01-ajax-post-php.scss  --  /src/scss/pages/clase-20/01-ajax-post-php.scss  -----  *
    *  ---------------------------------------------------------------------------------------  *
*/


@use 'clase-20-common' as c20;


[data-component-page="ajaxPostPhpDescription"] {
    @include c20.description-slot;
}

[data-component-page="ajaxPostPhpDemo"] {
    min-height: 48rem;

    @include c20.tablet {
        min-height: 40rem;
    }
}


.demo__ajax-low {
    @include c20.block;

    min-height: 48rem;

    @include c20.tablet {
        min-height: 40rem;
    }
}


.ajax-low {
    @include c20.ajax-low;
}
