<!--
    *  --------------------------------------------------------------------------------------------------------------  *
    *  -----  layout-aside-clase-27.html  --  /src/components/layout/pages/clase-27/layout-aside-clase-27.html  -----  *
    *  --------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 27 </h3>
        <p class="aside__subtitle"> Técnicas para desarrollo de plugins complejos </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 27">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase27" data-route="route-clase27">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27ValoresPorDefecto" data-route="route-clase27-valores-por-defecto">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Valores por defecto</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27Hooks" data-route="route-clase27-hooks">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Hooks</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27MetodoIsValid" data-route="route-clase27-metodo-isvalid">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Método isValid</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27MetodoOption" data-route="route-clase27-metodo-option">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Método option</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27ValidacionAvanzada" data-route="route-clase27-validacion-avanzada">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Validación avanzada</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase27MetodoDestroy" data-route="route-clase27-metodo-destroy">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Método destroy</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
