/*
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  03-handlebars-script-en-html.scss  --  /src/scss/pages/clase-24/03-handlebars-script-en-html.scss  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
*/


@use 'clase-24-common' as c24;


[data-component-page="handlebarsScriptEnHtmlDescription"] {
    @include c24.description-slot;
}

[data-component-page="handlebarsScriptEnHtmlDemo"] {
    min-height: 72rem;

    @include c24.tablet {
        min-height: 64rem;
    }
}


.demo__tpl {
    @include c24.block;

    min-height: 72rem;

    @include c24.tablet {
        min-height: 64rem;
    }
}


.tpl {
    @include c24.tpl;
}
