/*
    *  -------------------------------------------------------------------------------------------  *
    *  -----  07-handlebars-path.scss  --  /src/scss/pages/clase-24/07-handlebars-path.scss  -----  *
    *  -------------------------------------------------------------------------------------------  *
*/


@use 'clase-24-common' as c24;


[data-component-page="handlebarsPathDescription"] {
    @include c24.description-slot;
}

[data-component-page="handlebarsPathDemo"] {
    min-height: 76rem;

    @include c24.tablet {
        min-height: 68rem;
    }
}


.demo__tpl {
    @include c24.block;

    min-height: 76rem;

    @include c24.tablet {
        min-height: 68rem;
    }
}


.tpl {
    @include c24.tpl;
}
