<!--  
    *  --------------------------------------------------------------------------------  *
    *  -----  /layout-footer.html  --  /src/components/layout/layout-footer.html  -----  *
    *  --------------------------------------------------------------------------------  *
-->


<!--  
    ------------------------------
    ----------  FOOTER  ----------
    ------------------------------  
-->
<div class="footer__container">


    <!--
        ---------------------------
        -----  Footer Header  -----
        ---------------------------
    -->

    <header class="footer__header">


        <!--  
            ---------------------------------------------------------------
            -----  Contenedor de los icons y Logos de jQuery y Cursos -----
            ---------------------------------------------------------------
        -->

        <div class="footer__container-icons-logos">


            <!--  -----  Contenedor de los Logos de jQuery -----  -->
            <div class="container-icons-logos__jquery">

                <!--  -----  Contenedor Icon y Logo de jQuery -----  -->
                <div class="jquery__icon-logo">

                    <!--  -----  Logo de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-logo"
                            src="../../../assets/img/logos/jquery/jquery-logo-100x25.svg"
                            alt="Banner jQuery" width="100" height="25"
                        >
                    </a>

                    <!--  -----  Icon de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-icon"
                            src="../../../assets/img/logos/jquery/jquery-icon-64x64.svg"
                            alt="Logo jQuery" width="64" height="64"
                        >
                    </a>

                </div>

            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--first">

                <!--  -----  Logo de Escuela.it -----  -->
                <img 
                    class="cursos__logos cursos__logos--escuela-it"
                    src="../../../assets/img/logos/escuelait/escuelait-logo.avif"
                    alt="Logo Escuela.it" width="200" height="200"
                >

            </div>

        </div>



        <!--  
            ---------------------------------------------
            -----  Contenedor del Título del Footer -----
            ---------------------------------------------
        -->

        <div class="footer__container-title">

            <div class="container__title-main container__title-main--first">

                <h1 class="footer__title-main">
                    <a href="#" data-id="home" title=" 🏡Ir a Inicio 🏡" aria-label="Ir a Inicio">
                        &lt; Curso jQuery Escuela.IT /&gt;
                    </a>
                </h1>

            </div>

            <div class="container__title-page">

                <h2 class="footer__title-page" id="footerTitle">
                    <!--  *****  renderizado del título con el plugin de jQuery  *****  -->
                </h2>

            </div>

            <div class="container__title-main container__title-main--last">

                <h3 class="footer__subtitle-main">
                    &lt; escuela.it /&gt;
                </h3>

            </div>

        </div>



        <!--  
            ------------------------------------------------------------------
            -----  Contenedor de los Icons y Logos de jQuery UI y Cursos -----
            ------------------------------------------------------------------
        -->

        <div class="footer__container-icons-logos">

            <!--  -----  Contenedor Icon y Logo de jQuery UI  -----  -->
            <div class="container-icons-logos__jquery-ui">

                <!--  -----  Icon y Logo de jQuery UI -----  -->
                <div class="jquery-ui__icon-logo">

                    <!--  -----  icon de GitHub -----  -->
                    <a href="https://github.com/AntoniCut/jquery.antonydev.tech" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="github-icon"
                            src="../../../assets/img/logos/github/github-icon.svg"
                            alt="Logo GitHub" width="32" height="32"
                        >
                    </a>

                    <!--  -----  Logo de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-ui-logo"
                            src="../../../assets/img/logos/jquery-ui/jquery-ui-logo-1280x325.png"
                            alt="Banner jQuery UI" width="100" height="25"
                        >
                    </a>

                    <!--  -----  Icon de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-ui-icon"
                            src="../../../assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                            alt="Logo jQuery UI" width="68" height="59"
                        >
                    </a>

                </div>

            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--last">

                <!--  -----  Logos de Escuela.it -----  -->
                <img 
                    class="cursos__logos cursos__logos--escuela-it-icon"
                    src="../../../assets/img/logos/escuelait/escuelait-icon.ico"
                    alt="Logo Escuela.it" width="32" height="32"
                >

            </div>

        </div>


    </header>


    <!--
        -------------------------
        -----  Footer Main  -----
        -------------------------
    -->

    <main class="footer__main">


        <!--  
            --------------------------
            -----  list -  HOME  -----  
            --------------------------
        -->
        <ul class="footer__list">

            <li class="footer__list-title">
                <h3> Mis proyectos de jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="https://jquery.antonydev.tech/" class="item__link-title">
                    jquery.antonydev.tech
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="home" class="item__link-title">
                    Curso jQuery escuela.it
                </a>
            </li>

            <li class="footer__list-separator"> </li>

        </ul>


        <!--  
            ------------------------------
            -----  List  -  Clase 1  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-01">

            <li class="footer__list-title">
                <h3> Clase 1 - Que es jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase01">
                    Que es jQuery
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 2  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-02">

            <li class="footer__list-title">
                <h3> Clase 2 - Usar jQuery en la Actualidad </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase02">
                    Clase 2 - Usar jQuery en la Actualidad
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 3  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-03">

            <li class="footer__list-title">
                <h3> Clase 3 - Practica primeros pasos </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase03">
                    Clase 3 - Practica primeros pasos
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 4  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-04">

            <li class="footer__list-title">
                <h3> Clase 4 - Como se organiza el curso </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase04">
                    Clase 4 - Como se organiza el curso
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 5  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-05">

            <li class="footer__list-title">
                <h3> Clase 5 - Introducción a jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase05">
                    Clase 5 - Introducción a jQuery
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 6  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-06">

            <li class="footer__list-title">
                <h3> Clase 6 - Primeros pasos con jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06">
                    Clase 6 - Primeros pasos con jQuery
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06Ejemplo1">
                    - Primeros pasos con jQuery. Ejemplo 1
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06Ejemplo2">
                    - Primeros pasos con jQuery. Ejemplo 2
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 7  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-07">

            <li class="footer__list-title">
                <h3> Clase 7 - Manipulación básica de elementos </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase07">
                    Clase 7 - Manipulación básica de elementos
                </a>
            </li>

            <!--  -----  item 7 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07HtmlText">
                    1. Métodos html() y text()
                </a>
            </li>

            <!--  -----  item 7 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07AttrProp">
                    2. Métodos attr() y prop()
                </a>
            </li>

            <!--  -----  item 7 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07DataRemoveData">
                    3. Métodos data() y removeData()
                </a>
            </li>

            <!--  -----  item 7 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07Each">
                    4. Método each() para recorrer elementos
                </a>
            </li>

        </ul>


        <!--  -----  List -  Clase 8  -----  -->
        <ul class="footer__list footer__list--clase-08">

            <!--  -----  item 8  -----  -->
            <li class="footer__list-title">
                <h3> Clase 8 - Selectores jQuery y traversing </h3>
            </li>

            <!--  -----  item 8  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase08">
                    Clase 8 - Selectores jQuery y traversing
                </a>
            </li>

            <!--  -----  item 8 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase08SelectoresJerarquia">
                    Clase 8 - 1. Selectores Jerarquia
                </a>
            </li>

            <!--  -----  item 8 - 2  -----  ----->
            <li class="footer__item">
                <a href="#" data-id="clase08ProbarSelectores">
                    Clase 8 - 2. Probar Selectores
                </a>
            </li>

            <!--  -----  item 8 - 3  -----  ----->
            <li class="footer__item">
                <a href="#" data-id="clase08Traversing">
                    Clase 8 - 3. Traversing
                </a>
            </li>

            <!--  -----  item 8 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase08Contexto">
                    Clase 8 - 4. Partir de un Contexto
                </a>
            </li>

        </ul>


        <!--  -----  List -  Clase 9  -----  -->
        <ul class="footer__list footer__list--clase-09">

            <!--  -----  item 9  -----   -->
            <li class="footer__list-title">
                <h3> Clase 9 - Dudas y conceptos I </h3>
            </li>

            <!--  -----  item 9 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase09">
                    Clase 9 - Dudas y conceptos I
                </a>
            </li>

        </ul>


        <!--  -----  List -  Clase 10  -----  -->
        <ul class="footer__list footer__list--clase-10">

            <!--  -----  item 10  -----  -->
            <li class="footer__list-title">
                <h3> Clase 10 - Manipulación avanzada del contenido </h3>
            </li>

            <!--  -----  item 10 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase10AppendPrepend">
                    Clase 10 - Inyección Append / Prepend / AppendTo / PrependTo
                </a>
            </li>

            <!--  -----  item 10 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="claseAfterBefore">
                    Clase 10 - Inyección After / Before / InsertAfter / InsertBefore
                </a>
            </li>

            <!--  -----  item 10 - 3  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase10Dom">
                    Clase 10 - Inyección DOM
                </a>
            </li>

            <!--  -----  item 10 - 4  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase10Envoltura">
                    Clase 10 - Envoltura
                </a>
            </li>

            <!--  -----  item 10 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase10Dimensiones">
                    Clase 10 - Dimensiones
                </a>
            </li>

            <!--  -----  item 10 - 6  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase10ScrollOffset">
                    Clase 10 - Scroll / Offset
                </a>
            </li>

        </ul>


        <!--  
            -------------------------------
            -----  List  -  Clase 11  -----
            -------------------------------
        -->
        <ul class="footer__list footer__list--clase-11">

            <li class="footer__list-title">
                <h3> Clase 11 - Eventos en jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase11">
                    Eventos en jQuery
                </a>
            </li>

            <!--  -----  item 11 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase11MetodoOn">
                    1 - Eventos - Método On
                </a>
            </li>

            <!--  -----  item 11 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase11MetodoOff">
                    2 - Eventos - Método Off
                </a>
            </li>

            <!--  -----  item 11 - 3  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase11EventType">
                    3 - Eventos - Event Type
                </a>
            </li>

            <!--  -----  item 11 - 4  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase11PreventDefault">
                    4 - Eventos - Prevent Default
                </a>
            </li>

            <!--  -----  item 11 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase11StopPropagation">
                    5 - Eventos - Stop Propagation
                </a>
            </li>

            <!--  -----  item 11 - 6  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase11EvitarDobleClick">
                    6 - Eventos - Evitar Doble Click
                </a>
            </li>


            <!--  -----  item 11 - 7  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase11EventoPageXPageY">
                    7 - Eventos - PageX / PageY
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 12  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-12">

            <li class="footer__list-title">
                <h3> Clase 12 - Eventos de teclado y ratón </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase12">
                    Clase 12 - Eventos de teclado y ratón
                </a>
            </li>

            <!--  -----  item 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase12MovimientoRaton">
                    Clase 12 - 1. Seguir movimiento del ratón
                </a>
            </li>

            <!--  -----  item 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase12MenuContextual">
                    Clase 12 - 2. Menú contextual personalizado
                </a>
            </li>

            <!--  -----  item 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase12TextareaCuentaCaracteres">
                    Clase 12 - 3. Textarea cuenta caracteres
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 13  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-13">

            <li class="footer__list-title">
                <h3> Clase 13 - Efectos y Animaciones </h3>
            </li>

            <!--  -----  item 13  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase13" data-route="route-clase13">
                    Clase 13 - Efectos y Animaciones
                </a>
            </li>

            <!--  -----  item 13 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase13Toggle" data-route="route-clase13-toggle">
                    Clase 13 - 1. Toggle
                </a>
            </li>

            <!--  -----  item 13 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase13Animate" data-route="route-clase13-animate">
                    Clase 13 - 2. Animate
                </a>
            </li>

            <!--  -----  item 13 - 3  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase13PluginEase" data-route="route-clase13-plugin-ease">
                    Clase 13 - 3. Plugin Ease
                </a>
            </li>

            <!--  -----  item 13 - 4  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase13PluginEaseAnimateColors"
                    data-route="route-clase13-plugin-ease-animate-colors">
                    Clase 13 - 4. Plugin Ease Animate Colors
                </a>
            </li>

            <!--  -----  item 13 - 5  -----  --->
            <li class="footer__item">
                <a href="#" data-id="clase13PluginEaseAnimateColorsOptions"
                    data-route="route-clase13-plugin-ease-animate-colors-options">
                    Clase 13 - 5. Plugin Ease Animate Colors Options
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 14  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-14">

            <li class="footer__list-title">
                <h3> Clase 14 - Cola de efectos </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14" data-route="route-clase14">
                    Clase 14 - Cola de efectos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14EncoladoEfectos" data-route="route-clase14-encolado-efectos">
                    Clase 14 - 1. Encolado de efectos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14EjemploStop" data-route="route-clase14-ejemplo-stop">
                    Clase 14 - 2. Ejemplo Stop
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14LongitudColaEfectos" data-route="route-clase14-longitud-cola-efectos">
                    Clase 14 - 3. Longitud Cola Efectos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14EncolarFuncionesNoEfectos" data-route="route-clase14-encolar-funciones-no-efectos">
                    Clase 14 - 4. Encolar Funciones No Efectos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14EncoladoRespuestasEventos" data-route="route-clase14-encolado-respuestas-eventos">
                    Clase 14 - 5. Encolado Respuestas Eventos
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase14AnimacionesEnBucle" data-route="route-clase14-animaciones-en-bucle">
                    Clase 14 - 6. Animaciones en Bucle
                </a>
            </li>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 15  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-15">

            <li class="footer__list-title">
                <h3> Clase 15 - JSON </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase15" data-route="route-clase15">
                    Clase 15 - JSON
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 16  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-16">

            <li class="footer__list-title">
                <h3> Clase 16 - Ajax: Interfaz de alto nivel </h3>
            </li>

             <!--  -----  item 16  -----  -->
        <li class="footer__item">    
            <a href="#" data-id="clase16" data-route="route-clase16">
                Clase 16 - AJAX Interfaz Alto Nivel
            </a>
        </li>

            <!--  -----  item 16 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase16Load" data-route="route-clase16-load">
                    Clase 16 - 1. Load
                </a>
            </li>

            <!--  -----  item 16 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase16GetAjax" data-route="route-clase16-get-ajax">
                    Clase 16 - 2. Get Ajax
                </a>
            </li>

            <!--  -----  item 16 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase16GetAjaxDatos" data-route="route-clase16-get-ajax-datos">
                    Clase 16 - 3. Get Ajax Datos
                </a>
            </li>

            <!--  -----  item 16 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase16GetAjaxDatosObjetoAjax" data-route="route-clase16-get-ajax-datos-objeto-ajax">
                    Clase 16 - 4. Get Ajax Datos Objeto Ajax
                </a>
            </li>
          
        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 17  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-17">

            <li class="footer__list-title">
                <h3> Clase 17 - Dudas y conceptos II </h3>
            </li>

            <!--  -----  item 17  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17" data-route="route-clase17">
                    Clase 17 - Dudas y Conceptos Parte 2
                </a>
            </li>

            <!--  -----  item 17 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio01" data-route="route-clase17-ejercicio01">
                    - Ejercicio 01
                </a>
            </li>

            <!--  -----  item 17 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio02" data-route="route-clase17-ejercicio02">
                    - Ejercicio 02
                </a>
            </li>

            <!--  -----  item 17 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio03" data-route="route-clase17-ejercicio03">
                    - Ejercicio 03
                </a>
            </li>

            <!--  -----  item 17 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio04" data-route="route-clase17-ejercicio04">
                    - Ejercicio 04
                </a>
            </li>

            <!--  -----  item 17 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio05" data-route="route-clase17-ejercicio05">
                    - Ejercicio 05
                </a>
            </li>

            
            <!--  -----  item 17 - 7  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio05Hover" data-route="route-clase17-ejercicio05-hover">
                    - Ejercicio 05 Hover
                </a>
            </li>

            <!--  -----  item 17 - 8  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio06" data-route="route-clase17-ejercicio06">
                    - Ejercicio 06
                </a>
            </li>

            <!--  -----  item 17 - 9  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio07" data-route="route-clase17-ejercicio07">
                    - Ejercicio 07
                </a>
            </li>

            <!--  -----  item 17 - 10  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio08" data-route="route-clase17-ejercicio08">
                    - Ejercicio 08
                </a>
            </li>

            <!--  -----  item 17 - 11  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio09" data-route="route-clase17-ejercicio09">
                    - Ejercicio 09
                </a>
            </li>

            <!--  -----  item 17 - 12  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase17Ejercicio09Paralax" data-route="route-clase17-ejercicio09-paralax">
                    - Ejercicio 09 Paralax
                </a>
            </li>
          
        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 18  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-18">

            <li class="footer__list-title">
                <h3> Clase 18 - Formularios Ajax </h3>
            </li>

            <!--  -----  item 18  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase18" data-route="route-clase18">
                    Clase 18 - Formularios Ajax
                </a>
            </li>

            <!--  -----  item 18 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase18EnviarDatosPostSinFormularios" data-route="route-clase18-enviar-datos-post-sin-formularios">
                    - Enviar Datos Post Sin Formularios
                </a>
            </li>

            <!--  -----  item 18 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase18FormulariosSinValidacion" data-route="route-clase18-formularios-sin-validacion">
                    - Formularios Sin Validacion
                </a>
            </li>

            <!--  -----  item 18 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase18FormularioValidacionCliente" data-route="route-clase18-formulario-validacion-cliente">
                    - Formulario Validacion Cliente
                </a>
            </li>

            <!--  -----  item 18 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase18FormularioValidacionClienteServidor" data-route="route-clase18-formulario-validacion-cliente-servidor">
                    - Formulario Validacion Cliente Servidor
                </a>
            </li>
          
        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 19  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-19">

            <li class="footer__list-title">
                <h3> Clase 19 - Eventos Avanzados </h3>
            </li>

            <!--  -----  item 19  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19" data-route="route-clase19">
                    Clase 19 - Eventos Avanzados
                </a>
            </li>

             <!--  -----  item 19 - 1  -----  -->
             <li class="footer__item">
                <a href="#" data-id="clase19DelegacionEventos" data-route="route-clase19-delegacion-eventos">
                    - 01 Delegacion Eventos
                </a>
            </li>

            <!--  -----  item 19 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19PasarParametrosAEventos" data-route="route-clase19-pasar-parametros-a-eventos">
                    - 02 Pasar Parametros A Eventos
                </a>
            </li>

            <!--  -----  item 19 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19DispararEventos" data-route="route-clase19-disparar-eventos">
                    - 03 Disparar Eventos
                </a>
            </li>

            <!--  -----  item 19 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19DispararManejadores" data-route="route-clase19-disparar-manejadores">
                    - 04 Disparar Manejadores
                </a>
            </li>

           

            <!--  -----  item 19 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19EventosPersonalizados1" data-route="route-clase19-eventos-personalizados-1">
                    - 05 Eventos Personalizados 1
                </a>
            </li>

            <!--  -----  item 19 - 6  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase19EventosPersonalizados2" data-route="route-clase19-eventos-personalizados-2">
                    - 06 Eventos Personalizados 2
                </a>
            </li>

            
        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 20  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-20">

            <li class="footer__list-title">
                <h3> Clase 20 - Ajax Low Level </h3>
            </li>

            <!--  -----  item 20  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20" data-route="route-clase20">
                    Clase 20 - Ajax Low Level
                </a>
            </li>

            <!--  -----  item 20 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20AjaxPostPhp" data-route="route-clase20-ajax-post-php">
                    - 01 Ajax POST PHP
                </a>
            </li>

            <!--  -----  item 20 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20AjaxLoadScripts" data-route="route-clase20-ajax-load-scripts">
                    - 02 Ajax Load Scripts
                </a>
            </li>

            <!--  -----  item 20 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20Buscador" data-route="route-clase20-buscador">
                    - 03 Buscador
                </a>
            </li>

            <!--  -----  item 20 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20SelectCombinado" data-route="route-clase20-select-combinado">
                    - 04 Select Combinado
                </a>
            </li>

            <!--  -----  item 20 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase20SelectCombinadoJsonp" data-route="route-clase20-select-combinado-jsonp">
                    - 05 Select Combinado JSONP
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 21  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-21">
            <li class="footer__list-title">
                <h3> Clase 21 - Práctica 1 Formulario Login </h3>
            </li>

            <!--  -----  item 21  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase21" data-route="route-clase21">
                    Clase 21 - Práctica 1 Formulario Login
                </a>
            </li>

            <!--  -----  item 21 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase21FormularioLogin" data-route="route-clase21-formulario-login">
                    - 01 Formulario Login
                </a>
            </li>

            <!--  -----  item 21 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase21FormularioLoginAutenticacion" data-route="route-clase21-formulario-login-autenticacion">
                    - 02 Formulario Login Autenticacion
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 22  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-22">
            <li class="footer__list-title">
                <h3> Clase 22 - Deferred y Promesas </h3>
            </li>

            <!--  -----  item 22  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase22" data-route="route-clase22">
                    Clase 22 - Deferred y Promesas
                </a>
            </li>

            <!--  -----  item 22 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase22Deferred" data-route="route-clase22-deferred">
                    - 01 Deferred
                </a>
            </li>

            <!--  -----  item 22 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase22Promesas" data-route="route-clase22-promesas">
                    - 02 Promesas
                </a>
            </li>

            <!--  -----  item 22 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase22FuncionComoPromesa" data-route="route-clase22-funcion-como-promesa">
                    - 03 Función como Promesa
                </a>
            </li>

            <!--  -----  item 22 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase22AplicandoConceptos" data-route="route-clase22-aplicando-conceptos">
                    - 04 Aplicando conceptos
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 23  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-23">
            <li class="footer__list-title">
                <h3> Clase 23 - Dudas y conceptos 3 </h3>
            </li>

            <!--  -----  item 23  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase23" data-route="route-clase23">
                    Clase 23 - Dudas y conceptos 3
                </a>
            </li>

            <!--  -----  item 23 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase23ValidarFormulario" data-route="route-clase23-validar-formulario">
                    - 01 Validar Formulario
                </a>
            </li>

            <!--  -----  item 23 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase23AnimacionesEnBucleForma1" data-route="route-clase23-animaciones-en-bucle-forma-1">
                    - 02 Animaciones en Bucle Forma 1
                </a>
            </li>

            <!--  -----  item 23 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase23AnimacionesEnBucleForma2" data-route="route-clase23-animaciones-en-bucle-forma-2">
                    - 03 Animaciones en Bucle Forma 2
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 24  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-24">
            <li class="footer__list-title">
                <h3> Clase 24 - Template Systems </h3>
            </li>

            <!--  -----  item 24  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24" data-route="route-clase24">
                    Clase 24 - Template Systems
                </a>
            </li>

            <!--  -----  item 24 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsCompilarBasico" data-route="route-clase24-handlebars-compilar-basico">
                    - 01 Handlebars compilar básico
                </a>
            </li>

            <!--  -----  item 24 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsStringEnJavascript" data-route="route-clase24-handlebars-string-en-javascript">
                    - 02 Handlebars string en JavaScript
                </a>
            </li>

            <!--  -----  item 24 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsScriptEnHtml" data-route="route-clase24-handlebars-script-en-html">
                    - 03 Handlebars script en HTML
                </a>
            </li>

            <!--  -----  item 24 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24JqueryGenerarDom" data-route="route-clase24-jquery-generar-dom">
                    - 04 jQuery generar DOM
                </a>
            </li>

            <!--  -----  item 24 - 5  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsTemplateExternoAjax" data-route="route-clase24-handlebars-template-externo-ajax">
                    - 05 Template externo AJAX
                </a>
            </li>

            <!--  -----  item 24 - 6  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsBlockExpressions" data-route="route-clase24-handlebars-block-expressions">
                    - 06 Block expressions
                </a>
            </li>

            <!--  -----  item 24 - 7  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsPath" data-route="route-clase24-handlebars-path">
                    - 07 Handlebars path
                </a>
            </li>

            <!--  -----  item 24 - 8  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase24HandlebarsBuiltInHelpers" data-route="route-clase24-handlebars-built-in-helpers">
                    - 08 Built-in helpers
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 25  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-25">
            <li class="footer__list-title">
                <h3> Clase 25 - jQuery Plugins </h3>
            </li>

            <!--  -----  item 25  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase25" data-route="route-clase25">
                    Clase 25 - jQuery Plugins
                </a>
            </li>

            <!--  -----  item 25 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase25PluginsBasicos" data-route="route-clase25-plugins-basicos">
                    - 01 Plugins básicos
                </a>
            </li>

            <!--  -----  item 25 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase25PluginsConHandlebars" data-route="route-clase25-plugins-con-handlebars">
                    - 02 Plugins con Handlebars
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 26  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-26">
            <li class="footer__list-title">
                <h3> Clase 26 - Variables gestión de opciones en plugins </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase26">
                    Clase 26 - Variables gestión de opciones en plugins
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 27  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-27">

            <li class="footer__list-title">
                <h3> Clase 27 - Tecnicas para desarrollos de plugins complejos </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase27">
                    Clase 27 - Tecnicas para desarrollos de plugins complejos
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 28  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-28">

            <li class="footer__list-title">
                <h3> Clase 28 - Librerias de componentes: jQuery UI </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase28">
                    Clase 28 - Librerias de componentes: jQuery UI
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 29  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-29">

            <li class="footer__list-title">
                <h3> Clase 29 - Usando jQuery UI </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase29">
                    Clase 29 - Usando jQuery UI
                </a>
            </li>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 30  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-30">

            <li class="footer__list-title">
                <h3> Clase 30 - Práctica 2 </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase30">
                    Clase 30 - Práctica 2
                </a>
            </li>

        </ul>


    </main>

</div>