/*
    *  ---------------------------------------------------------------------------------------------------  *
    *  -----  04-aplicando-conceptos.scss  --  /src/scss/pages/clase-22/04-aplicando-conceptos.scss  -----  *
    *  ---------------------------------------------------------------------------------------------------  *
*/


@use 'clase-22-common' as c22;


[data-component-page="aplicandoConceptosDescription"] {
    @include c22.description-slot;
}

[data-component-page="aplicandoConceptosDemo"] {
    min-height: 240rem;

    @include c22.tablet {
        min-height: 216rem;
    }
}


.demo__deferred {
    @include c22.block;

    min-height: 240rem;

    @include c22.tablet {
        min-height: 216rem;
    }
}


.deferred {
    @include c22.deferred;
}
