<!--
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-clase-25.html  --  /src/components/layout/pages/clase-25/layout-aside-clase-25.html  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 25 </h3>
        <p class="aside__subtitle"> jQuery Plugins </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 25">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase25" data-route="route-clase25">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase25PluginsBasicos" data-route="route-clase25-plugins-basicos">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Plugins básicos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase25PluginsConHandlebars" data-route="route-clase25-plugins-con-handlebars">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Plugins con Handlebars</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
